a {
  color: #337ab7;
}

a:focus, a:hover {
  color: #23527c;
}

.header-menu {
  background-color: #ffffff;
  opacity: 0.92;
  padding: 0.5em;
  z-index: 100;
}

.header-menu-list {
  float: right;
}

.layout {
  margin-top: 50px;
  position: relative;
}

.main {
  position: static;
  padding: 30px 50px;
}

.box {
  display: inline-block;
  width: 160px;
  height: 160px;
  margin: 20px;
}

.pagination {
  text-align: center;
}
