a {
  color: #337ab7;
}

a:focus, a:hover {
  color: #23527c;
}

.header-menu {
  background-color: #ffffff;
  opacity: 0.92;
  padding: 0.5em;
  z-index: 100;
}

.header-menu-list {
  float: right;
}

.layout {
  margin-top: 50px;
  position: relative;
}

.main {
  position: static;
  padding: 30px 50px;
}

.box {
  display: inline-block;
  width: 150px;
  margin: 20px;
}

.box-figure {
  width: 150px;
  height: 150px;
}

.box-buttons {
  visibility: hidden;
  margin-top: 0.5em;
}

.box:focus .box-buttons, .box:hover .box-buttons {
  visibility: visible;
}

.box-buttons > div {
  display: inline-block;
}

.box-buttons-other {
  float: left;
}

.box-buttons-twitter {
  float: right;
}

.pagination {
  text-align: center;
}

/* Twitter buttons
 * See https://dev.twitter.com/overview/general/image-resources for display requirements
 */

.box-button {
  width: 16px;
  height: 16px;
  color: #aab8c2;
}

.like-button:focus, .like-button:hover {
  color: #e81c4f;
}

.like-button:active {
  opacity: 0.5;
}

.retweet-button:focus, .retweet-button:hover {
  color: #19cf86;
}

.retweet-button:active {
  opacity: 0.5;
}

/* CSS spinner
 * Adapted from http://projects.lukehaas.me/css-loaders/
 */

.spinner {
  margin: 30px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.5em solid rgba(100, 100, 100, 0.2);
  border-right: 0.5em solid rgba(100, 100, 100, 0.2);
  border-bottom: 0.5em solid rgba(100, 100, 100, 0.2);
  border-left: 0.5em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.spinner,
.spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
