<%# Shows placeholder if no tweets are collected %>
<%= if !@collected do %>
  <div class="placeholder"><%= gettext "Gathering photo tweets from your timeline now. Please reload the page after about half a minute." %></div>
<% end %>
<% if @collected && !@has_entries do %>
  <div class="placeholder"><%= gettext "Could not find photo tweets in your timeline. Please come back later." %></div>
<% end %>
