<div class="layout">
  <main class="main">
    <h1>Account Settings</h1>
    <section>
      <h2>Log Out</h2>
      <p>
        <a class="pure-button pure-button-primary" href="<%= session_path(@conn, :logout) %>">Log out</a>
      </p>
    </section>
  </main>
</div>
