<div class="layout">
  <main class="main">
    <h1><%= gettext "Account settings" %></h1>
    <section>
      <h2><%= gettext "Log out" %></h2>
      <p>
        <a class="pure-button pure-button-primary" href="<%= session_path(@conn, :logout) %>"><%= gettext "Log out" %></a>
      </p>
    </section>
  </main>
</div>
